{% extends "base.html" %}

{% block title %}Adoptable Pets{% endblock %}

{% block content %}
<div class="pet-grid">
  {% for pet in pets %}
  <div class="pet-card">
    <div class="pet-img-wrapper">
      {% if pet.photo_url %}
      {% if pet.photo_url.startswith('http') %}
      <img src="{{ pet.photo_url }}" class="pet-img" alt="Photo of {{ pet.name }}">
      {% else %}
      <img src="{{ url_for('static', filename=pet.photo_url) }}" class="pet-img" alt="Photo of {{ pet.name }}">
      {% endif %}
      {% else %}
      <img src="{{ url_for('static', filename='images/default_pet_pic.png') }}" class="pet-img"
        alt="Default image: Honeybees outside a hive that says 'We're bzzzy getting camera ready!'">
      {% endif %}
    </div>

    <div class="pet-card-body">
      <h5 class="pet-card-title">
        <a href="{{ url_for('show_edit_pet', pet_id=pet.id) }}" class="pet-card-link">
          {{ pet.name }}
        </a>
      </h5>
      {% if pet.available %}
      <p class="pet-status available">Available</p>
      {% else %}
      <p class="pet-status adopted">Adopted</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}